<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>Arrbyte - {{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <header>
    <h1><a title="Home" href="index.html"><img src="assets/logo_with_text_200x200.jpg" alt="ArrByte Games"></a></h1>
    <nav>
      <ul>
        <li><a href='games.html'>Games</a></li>
        <li><a href='wip.html'>Previews</a></li>
        <li><a href='contribute.html'>Contribute</a></li>
      </ul>
    </nav>
  </header>
  <section id="main">
    <h2>{{title}}</h2>
    {{contents}}
  </section>
</body>
</html>
